* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrap {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 100px;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
}

.text {
  color: #787878;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.title {
  color: #191919;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 20px 40px;
  border-radius: 5px;
  background-color: #10c9c3;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background-color: #20e4dd;
  color: #474646;
}

header {
  background-color: #e9e9e9;
  padding: 40px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.menu__link {
  color: #191919;
  font-size: 16px;
  font-weight: 700;
  margin-left: 30px;
  transition: 0.1s;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}
.menu__link:hover {
  color: #10c9c3;
  border-color: #10c9c3;
}

.intro {
  background-color: #e9e9e9;
}
.intro-container {
  padding: 120px 0;
  background-image: url(../img/intro_bg.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 0 100px;
}
.intro-container__block {
  width: 50%;
  margin-left: auto;
}
.intro__title {
  color: #1d1d1d;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
.about-container .text {
  width: 50%;
}

.skills {
  background: url(../img/skill.png) 0 50% no-repeat;
  position: relative;
}
.skills__block {
  background-color: #f8f9f9;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.skills__container {
  width: 50%;
  margin-right: auto;
  background-color: #f8f9f9;
  padding: 100px 0 100px 20px;
  position: relative;
  z-index: 2;
}
.skills .title {
  text-align: center;
}

.progress-bar__block {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.progress-bar__block progress {
  margin: 10px 0;
  width: 100%;
}

.projects {
  background-color: #10c9c3;
}
.projects-container {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project {
  width: 25%;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.project__desc {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.project__desc p:first-child {
  margin-bottom: 10px;
}
.project .fas {
  font-size: 40px;
}

.process-container {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process-container .text {
  width: 50%;
  text-align: center;
}

.work {
  width: 100%;
}
.work-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.work__block {
  width: 25%;
  position: relative;
}
.work__block img {
  width: 100%;
  height: auto;
}
.work__block .far {
  position: absolute;
  top: 43%;
  left: 43%;
  font-size: 40px;
  color: #000;
  margin: auto auto;
  display: none;
}
.work__block:hover img {
  opacity: 0.4;
}
.work__block:hover .far {
  display: block;
}

.load-more {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: #f5f5f5;
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 700;
  transition: 0.2s;
  border-radius: 0 0 10px 10px;
}
.load-more:hover {
  color: #696969;
  background-color: #ece8e8;
}

.services {
  background-color: #f5f5f5;
}
.services-container {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  width: 23%;
  margin-bottom: 40px;
  text-align: center;
}
.service__title {
  color: #191919;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0;
}
.service__text {
  color: #787878;
  font-size: 16px;
}
.service .far, .service .fas {
  font-size: 35px;
  color: #504f4f;
}

.slider {
  background-color: #10c9c3;
  padding: 100px 0;
}

.slide {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.slide-bar {
  display: flex;
  width: 5%;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
  margin-top: 60px;
}
.slide__btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.author {
  margin-top: 50px;
  font-size: 16px;
  text-transform: uppercase;
}

.clients {
  background-color: #fff;
}
.clients-container {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}
.clients__link {
  width: 90px;
  height: 70px;
  background-image: url(../img/collection.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  transition: 0.2s;
}
.clients__link:nth-child(2) {
  background-image: url(../img/handmade.png);
}
.clients__link:nth-child(3) {
  background-image: url(../img/mountain.png);
}
.clients__link:nth-child(4) {
  background-image: url(../img/mountbike.png);
}
.clients__link:hover {
  transform: scale(1.2);
}

.project-order {
  background-color: #f5f5f5;
}
.project-order-container {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-order-container .text {
  width: 50%;
}
.project-order form {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.project-order .order {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.project-order .name, .project-order .email {
  width: 48%;
}
.project-order textarea {
  height: 200px;
}

footer {
  background-color: #141414;
}

.footer-container {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
.footer__block {
  color: #bcbcbc;
}
.footer__block:first-child {
  width: 30%;
}
.footer__block--services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 20%;
}
.footer__block--services .footer__link {
  width: 50%;
}
.footer__block .email__link {
  text-transform: lowercase;
}
.footer__title {
  color: #fff;
  margin-bottom: 25px;
}
.footer__link {
  display: block;
  margin-bottom: 10px;
  color: #bcbcbc;
  font-size: 15px;
  transition: 0.2s;
}
.footer__link:hover {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
