footer {
    background-color: #141414;
}
.footer {
    &-container {
        padding: 100px 0;
        display: flex;
        justify-content: space-between;
    }
    &__block {
        color: #bcbcbc;
        &:first-child {
            width: 30%;
        }
        
        &--services {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 20%;
            .footer__link {
                width: 50%;
            }
        }
        .email__link {
            text-transform: lowercase;
        }
    }
    &__title {
        color: #fff;
        margin-bottom: 25px;
    }
    &__link {
        display: block;
        margin-bottom: 10px;
        color: #bcbcbc;
        font-size: 15px;
        transition: .2s;

        &:hover {
            color: #fff;
        }
    }
    
}