* {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

.wrap {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 100px; }

.panel {
  padding: 100px 0; }

.link {
  text-decoration: none;
  text-transform: uppercase; }

.text {
  color: #787878;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  text-align: center;
  width: 60%; }

.title {
  color: #191919;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px; }

.btn {
  background-color: #10c9c3;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  padding: 20px 40px;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s; }
  .btn:hover {
    background-color: #20E4DD;
    color: #191919; }

.is-hidden {
  display: none !important; }

.burger {
  -webkit-box-align: center;
          align-items: center;
  color: #10c9c3;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-size: 10px;
  -webkit-box-pack: center;
          justify-content: center;
  text-transform: uppercase; }
  .burger-item {
    background-color: #10c9c3;
    height: 3px;
    margin: 3px 0;
    width: 25px; }

.header {
  background-color: #e9e9e9;
  padding: 40px 0; }
  .header__panel {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    .header__panel .logo {
      color: #191919;
      font-size: 16px;
      font-weight: 700;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }

.menu {
  width: 75%; }
  .menu__link {
    border-bottom: 3px solid transparent;
    color: #191919;
    font-size: 16px;
    font-weight: 700;
    margin-left: 30px;
    padding-bottom: 10px;
    -webkit-transition: .1s;
    transition: .1s; }
    .menu__link:hover {
      border-color: #10c9c3;
      color: #10c9c3; }
  .menu-mobile {
    display: none; }
    .menu-mobile__logo {
      background-color: #10c9c3;
      border-radius: 2px;
      padding: 2px; }
  .menu-side {
    display: none; }

.intro {
  background-color: #e9e9e9; }
  .intro__panel {
    background-image: url(../img/intro_bg.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 0 40%; }
  .intro__container {
    margin-left: auto;
    width: 50%; }
  .intro__title {
    color: #191919; }
  .intro__text {
    width: 100%; }

.about__panel {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.skills {
  background: url(../img/skill.png) 0 50% no-repeat;
  position: relative; }
  .skills__bg {
    background-color: #e9e9e9;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 1; }
  .skills__panel {
    background-color: #e9e9e9;
    margin-right: auto;
    position: relative;
    width: 50%;
    z-index: 2; }
  .skills .title {
    text-align: center; }

.progress-bar__block {
  color: #191919;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  width: 80%; }
  .progress-bar__block progress {
    margin: 10px 0;
    width: 100%; }

.projects {
  background-color: #10c9c3; }
  .projects__panel {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    text-align: center;
    width: 100%; }

.project {
  -webkit-box-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  line-height: 20px;
  text-transform: uppercase;
  width: 23%; }
  .project p:first-of-type {
    margin: 10px 0; }
  .project .fas {
    font-size: 40px; }

.process__panel {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center; }

.works {
  width: 100%; }
  .works__panel {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .works .work {
    width: 25%;
    position: relative; }
    .works .work img {
      height: auto;
      width: 100%; }
    .works .work .far {
      color: #191919;
      display: none;
      font-size: 40px;
      left: 43%;
      margin: auto auto;
      position: absolute;
      top: 43%; }
    .works .work:hover img {
      opacity: 0.4; }
    .works .work:hover .far {
      display: block; }

.load-more {
  background-color: #e9e9e9;
  border-radius: 0 0 10px 10px;
  border: 1px solid transparent;
  color: #191919;
  display: -webkit-box;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 40px 0;
  -webkit-transition: .2s;
  transition: .2s; }
  .load-more:hover {
    background-color: #fff;
    border-color: #e9e9e9; }

.services {
  background-color: #e9e9e9; }
  .services__panel {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between; }

.service {
  margin-bottom: 40px;
  text-align: center;
  width: 23%; }
  .service__title {
    color: #191919;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0; }
  .service__text {
    color: #787878;
    font-size: 16px; }
  .service .far, .service .fas {
    font-size: 35px;
    color: #191919; }

.slider {
  background-color: #10c9c3; }

.slide {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  width: 60%; }
  .slide-bar {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    margin: 60px auto 0;
    text-align: center;
    width: 5%; }
  .slide__btn {
    border-radius: 50%;
    border: 2px solid #fff;
    height: 10px;
    width: 10px; }

.author {
  font-size: 16px;
  margin-top: 50px;
  text-transform: uppercase; }

.clients {
  background-color: #fff; }
  .clients__panel {
    background-color: #fff;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    padding: 40px 0; }
  .clients__link {
    display: block;
    -webkit-transition: .2s;
    transition: .2s;
    width: 10%; }
    .clients__link img {
      height: auto;
      width: 100%; }
    .clients__link:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

.project-order {
  background-color: #f5f5f5; }
  .project-order__panel {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .project-order form {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 60%; }
  .project-order .order {
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    outline: none;
    padding: 10px;
    width: 100%; }
  .project-order .name, .project-order .email {
    width: 48%; }
  .project-order textarea {
    height: 200px; }

.footer {
  background-color: #191919; }
  .footer__panel {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    .footer__panel .rights {
      width: 30%; }
  .footer-info {
    color: #e9e9e9; }
    .footer-info--services {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
              justify-content: space-between;
      width: 20%; }
      .footer-info--services .footer__link {
        width: 50%; }
    .footer-info .email__link {
      text-transform: lowercase; }
  .footer__title {
    color: #fff;
    margin-bottom: 25px; }
  .footer__link {
    color: #e9e9e9;
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    -webkit-transition: .2s;
    transition: .2s; }
    .footer__link:hover {
      color: #fff; }

@media (max-width: 1366px) {
  .wrap {
    max-width: 100%;
    padding: 0 50px; } }

@media (max-width: 1280px) {
  .header__panel {
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .menu {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 100%; }
  .services__panel {
    flex-wrap: wrap; }
  .service {
    width: 45%; } }

@media (max-width: 1000px) {
  .projects__panel {
    justify-content: space-around; }
  .project {
    width: 10%; }
  .footer__panel {
    flex-wrap: wrap;
    text-align: center; }
    .footer__panel .footer-info--rights {
      margin-bottom: 60px;
      width: 45%; }
  .footer-info {
    width: 45%; }
    .footer-info--services {
      margin-bottom: 60px;
      -webkit-box-ordinal-group: 0;
              order: -1; }
  .footer-info--social {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap; }
    .footer-info--social .footer__link {
      width: 45%; } }

@media (max-width: 800px) {
  .text {
    width: 80%; }
  .header__panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center; }
    .header__panel .logo {
      display: none; }
  .menu {
    display: none; }
    .menu-mobile {
      background-color: #191919;
      border-bottom: 1px solid #10c9c3;
      color: #fff;
      cursor: pointer;
      display: -webkit-box;
      display: flex;
      font-weight: 700;
      -webkit-box-pack: justify;
              justify-content: space-between;
      left: 0;
      -webkit-box-ordinal-group: 0;
              order: -1;
      padding: 20px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 4; }
      .menu-mobile img {
        color: #fff;
        height: 30px;
        width: 45px; }
      .menu-mobile div {
        -webkit-box-align: center;
                align-items: center;
        display: -webkit-box;
        display: flex; }
    .menu-side {
      background-color: rgba(0, 0, 0, 0.7);
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      height: 100%;
      left: 0;
      padding: 100px 30px 0 0;
      position: fixed;
      top: 70px;
      width: 50%;
      z-index: 3; }
      .menu-side .menu__link {
        color: #fff;
        padding: 20px 0; }
  .intro__panel {
    background-image: url(../img/intro_bg-2.png);
    background-size: 80%;
    background-position: 50% 50%; }
  .intro__container {
    margin: 0 auto;
    text-align: center;
    width: 100%; }
  .intro .text {
    color: #191919;
    margin: 0 auto 40px;
    text-align: center; }
  .skills {
    background-position: 50%; }
    .skills__bg {
      background-color: rgba(255, 255, 255, 0.9);
      width: 100%; }
    .skills__panel {
      background-color: transparent;
      width: 100%; }
  .panel {
    padding: 50px 0; }
  .work .far {
    font-size: 20px; }
  .slide-bar {
    width: 10%; }
  .clients__link {
    width: 15%; }
  .project-order form {
    width: 80%; }
  body {
    min-width: 90%; } }

@media (max-width: 640px) {
  .wrap {
    padding: 0 10px; }
  .panel {
    padding: 30px 0; }
  .title {
    line-height: 40px; }
  .footer__panel .footer-info,
  .footer__panel .footer-info--rights {
    margin: 0 auto 20px;
    width: 90%; }
  .footer__panel .footer-info--services {
    display: none; }
  .footer__panel .footer-info--social .footer__link {
    width: 100%; }
  .work .far {
    font-size: 14px; }
  .load-more {
    padding: 20px 0; }
  .slide {
    font-size: 16px; }
    .slide .author {
      font-size: 14px; }
    .slide-bar {
      width: 20%;
      margin-top: 20px; }
  .project-order .name,
  .project-order .email {
    width: 100%; }
  .project-order textarea {
    height: 100px; }
  .projects__panel {
    flex-wrap: wrap; }
  .project {
    width: 45%;
    margin-bottom: 20px; } }

@media (max-width: 416px) {
  .header__panel {
    -webkit-box-pack: end;
            justify-content: flex-end; }
  .menu__link {
    margin-left: 10px; } }

@media (max-width: 320px) {
  .menu-side {
    width: 90%; } }
