.footer {
    background-color: #141414;
    &__panel {
        display: flex;
        justify-content: space-between;
        .rights {
            width: 30%;
        }
    }
    &-info {
        color: #bcbcbc;    
        &--services {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 20%;
            .footer__link {
                width: 50%;
            }
        }
        .email__link {
            text-transform: lowercase;
        }
    }
    &__title {
        color: #fff;
        margin-bottom: 25px;
    }
    &__link {
        display: block;
        margin-bottom: 10px;
        color: #bcbcbc;
        font-size: 15px;
        transition: .2s;

        &:hover {
            color: #fff;
        }
    }
    
}