.footer {
    background-color: $title-color;

    &__panel {
        display: flex;
        justify-content: space-between;

        .rights {
            width: 30%;
        }
    }

    &-info {
        color: $panel-color;  

        &--services {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 20%;

            .footer__link {
                width: 50%;
            }
        }

        .email__link {
            text-transform: lowercase;
        }
    }

    &__title {
        color: $white;
        margin-bottom: 25px;
    }

    &__link {
        color: $panel-color;
        display: block;
        font-size: 15px;
        margin-bottom: 10px;
        transition: .2s;

        &:hover {
            color: $white;
        }
    }
    
}