progress {
    -webkit-appearance: none;
    -moz-appearance: none; 
}

progress::-webkit-progress-bar {
    background: rgb(194, 194, 255);
}

progress::-moz-progress-bar {
    background: rgb(194, 194, 255);
}

progress::-webkit-progress-value {
    background: rgb(82, 82, 221);
}

progress::-moz-progress-value {
    background: rgb(82, 82, 221);
}