@media (max-width: 1366px) {
    .wrap {
        max-width: 100%;
        padding: 0 50px;
    }
}

@media (max-width: 1280px) {
    .header__panel {
        align-items: center;
        flex-direction: column;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        width: 100%;
    }

    .services__panel {
        flex-wrap: wrap;
    }

    .service {
        width: 45%;
    }
}

@media (max-width: 1000px) {
    .projects__panel {
        justify-content: space-around;
    }

    .project {
        width: 10%;
    }

    .footer {
        &__panel {
            flex-wrap: wrap;
            text-align: center;

            .footer-info--rights {
                margin-bottom: 60px;
                width: 45%;
            }
        }

        &-info {
            width: 45%;

            &--services {
                margin-bottom: 60px;
                order: -1;
            }
        }
    }

    .footer-info--social {
        display: flex;
        flex-wrap: wrap;

        .footer__link {
            width: 45%;
        }
    }    
}

@media (max-width: 800px) {
    .text {
        width: 80%;
    }

    .header__panel {
        flex-direction: row;
        justify-content: center;

        .logo {
            display: none;
        }
    }

    .menu {
        display: none;

        &-mobile {
            background-color:$title-color;
            border-bottom: 1px solid $main-color;
            color: $white;
            cursor: pointer;
            display: flex;
            font-weight: 700;
            justify-content: space-between;
            left: 0;
            order: -1;
            padding: 20px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 4;

            img {
                color: $white;
                height: 30px;
                width: 45px;
            }

            div {
                align-items: center;
                display: flex;
            }
        }

        &-side {
            background-color: rgba(0,0,0,0.7);
            display: flex;
            flex-direction: column;
            height: 100%;
            left: 0;
            padding: 100px 30px 0 0;
            position: fixed;
            top: 70px;
            width: 50%;
            z-index: 3;

            .menu__link {
                color: $white;
                padding: 20px 0;
            }
        }
    }

    .intro {
        &__panel {
            background-image: url(../img/intro_bg-2.png);
            background-size: 80%;
            background-position: 50% 50%;
        }

        &__container {
            margin: 0 auto;
            text-align: center;
            width: 100%;
        }

        .text {
            color: $title-color;
            margin: 0 auto 40px;
            text-align: center;
        }
    } 

    .skills {
        background-position: 50%;

        &__bg {
            background-color: rgba(255,255,255,0.9);
            width: 100%;
        }
    
        &__panel {
            background-color: transparent;
            width: 100%;
        }
    }

    .panel {
        padding: 50px 0;
    }

    .work .far {
        font-size: 20px;
    }

    .slide-bar {
        width: 10%;
    }

    .clients__link {
        width: 15%;
    }

    .project-order form {
        width: 80%;
    }

    body {
        min-width: 90%;
    }
}

@media (max-width: 640px) {
    .wrap {
        padding: 0 10px;
    }

    .panel {
        padding: 30px 0;
    }

    .title {
        line-height: 40px;
    }

    .footer__panel {
        .footer-info, 
        .footer-info--rights {
            margin: 0 auto 20px;
            width: 90%;
        }

        .footer-info--services {
            display: none;
        }

        .footer-info--social .footer__link {
            width: 100%;
        }
    }

    .work .far {
        font-size: 14px;
    }

    .load-more {
        padding: 20px 0;
    }

    .slide {
        font-size: 16px;

        .author {
            font-size: 14px;
        }

        &-bar {
            width: 20%;
            margin-top: 20px;
        }
    }

    .project-order {
        .name,
        .email {
            width: 100%;
        }
        textarea {
            height: 100px;
        }
    }  

    .projects__panel {
        flex-wrap: wrap;
    }

    .project {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 416px) {
    .header__panel {
        justify-content: flex-end;
    }

    .menu__link {
        margin-left: 10px;
    }
}

@media (max-width: 320px) {
    .menu-side {
        width: 90%;
    }
}