

$bg-color: #10c9c3;

* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.wrap {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 100px;
}
.block {
    padding: 100px 0;
}
.link {
    text-decoration: none;
    text-transform: uppercase;
}
.text {
    color: #787878;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    width: 60%;
    text-align: center;
}
.title {
    color: #191919;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 30px;
}
.btn {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: $bg-color;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s;
    &:hover {
        background-color: rgb(32, 228, 221);
        color: rgb(71, 70, 70);
    }
}
header {
    background-color: #e9e9e9;
    padding: 40px 0;
}
.header {
    &-container {
        display: flex;
        justify-content: space-between;
        .logo {
            color: #191919;
            font-size: 16px;
            font-weight: 700;
            display: flex;
            align-items: center;
        }
    }
}
.menu {
    width: 75%;
    &__link {
        color: #191919;
        font-size: 16px;
        font-weight: 700;
        margin-left: 30px;
        transition: .1s;
        padding-bottom: 10px;
        border-bottom: 3px solid transparent;
        &:hover {
            color: $bg-color;
            border-color: $bg-color;
        }
    }
    &-mobile {
        display: none;
    }
    &-side {
        display: none;
    }
}
.intro {
    background-color: #e9e9e9;
    &-container {
        background-image: url(../img/intro_bg.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 0 40%;
        &__block {
            width: 50%;
            margin-left: auto;
        }
    }
    &__title {
        color: #1d1d1d;
    }
    &__text {
        width: 100%;
    }
}
.about {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.skills {
    background: url(../img/skill.png) 0 50% no-repeat;
    position: relative;
    &__block {
        background-color: #f8f9f9;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &-container {
        width: 50%;
        margin-right: auto;
        background-color: #f8f9f9;
        position: relative;
        z-index: 2
    }
    .title {
        text-align: center;
    }
}
.progress-bar__block {
    display: flex;
    flex-direction: column;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    progress {
        margin: 10px 0;
        width: 100%;
        // &::-webkit-progress-bar {
        //     background-color: $bg-color;
        // }
        // &::-webkit-progress-value {
        //     background-color: $bg-color;
        // }
    }
}
.projects {
    background-color: $bg-color;
    &-container {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 100%;
    }
}
.project {
    width: 23%;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
        p:first-of-type {
            margin: 10px 0;
        }
    .fas {
        font-size: 40px;
    }
}
.process {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
}
.work {
    width: 100%;
    &-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    &__block {
        width: 25%;
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
        .far {
            position: absolute;
            top: 43%;
            left: 43%;
            font-size: 40px;
            color: #000;
            margin: auto auto;
            display: none;            
        }
        &:hover {
            img {
                opacity: 0.4;
            }
            .far {
                display: block;
            }
        }
    }
}
.load-more {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: #f5f5f5;
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 700;
    transition: .2s;
    border-radius: 0 0 10px 10px;
    &:hover {
        color: #696969;
        background-color: #ece8e8;
    }
}
.services {
    background-color: #f5f5f5;
    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.service {
    width: 23%;
    margin-bottom: 40px;
    text-align: center;
    &__title {
        color: #191919;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 20px 0;
    }
    &__text {
        color: #787878;
        font-size: 16px;
    }
    .far, .fas {
        font-size: 35px;
        color: rgb(80, 79, 79);
    }
}
.slider {
    background-color: $bg-color;
}
.slide {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    &-bar {
        display: flex;
        width: 5%;
        margin: 0 auto;
        text-align: center;
        justify-content: space-around;
        margin-top: 60px;
    }
    &__btn {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #fff;
    }
}
.author {
    margin-top: 50px;
    font-size: 16px;
    text-transform: uppercase;
}
.clients {
    background-color: #fff;
    &-container {
        padding: 40px 0;
        display: flex;
        justify-content: space-around;
        background-color: #fff;
    }
    &__link {
        width: 10%;
        display: block;
        transition: .2s;
        img {
            width: 100%;
            height: auto;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
}
.project-order {
    background-color: #f5f5f5;
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .order {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    .name, .email {
        width: 48%;
    }
    textarea {
        height: 200px;
    }
}

@import 'footer';
@import 'responsive';

.hidden {
    display: none;
}
