@import 'colors';
@import 'common';

.header {
    background-color: $panel-color;
    padding: 40px 0;
    &__panel {
        display: flex;
        justify-content: space-between;
        .logo {
            color: $title-color;
            font-size: 16px;
            font-weight: 700;
            display: flex;
            align-items: center;
        }
    }
}
.menu {
    width: 75%;
    &__link {
        color: $title-color;
        font-size: 16px;
        font-weight: 700;
        margin-left: 30px;
        transition: .1s;
        padding-bottom: 10px;
        border-bottom: 3px solid transparent;
        &:hover {
            color: $main-color;
            border-color: $main-color;
        }
    }
    &-mobile {
        display: none;
        &__logo {
            background-color: $main-color;
            padding: 2px;
            border-radius: 2px;
        }
    }
    &-side {
        display: none;
    }
}
.intro {
    background-color: $panel-color;
    &__panel {
        background-image: url(../img/intro_bg.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 0 40%;
    }
    &__container {
        width: 50%;
        margin-left: auto;
    }
    &__title {
        color: $title-color;
    }
    &__text {
        width: 100%;
    }
}
.about {
    &__panel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.skills {
    background: url(../img/skill.png) 0 50% no-repeat;
    position: relative;
    &__bg {
        background-color: $panel-color;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &__panel {
        width: 50%;
        margin-right: auto;
        background-color: $panel-color;
        position: relative;
        z-index: 2
    }
    .title {
        text-align: center;
    }
}
.progress-bar__block {
    display: flex;
    flex-direction: column;
    color: $title-color;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    progress {
        margin: 10px 0;
        width: 100%;
    }
}
.projects {
    background-color: $main-color;
    &__panel {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 100%;
    }
}
.project {
    width: 23%;
    color: $white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
        p:first-of-type {
            margin: 10px 0;
        }
    .fas {
        font-size: 40px;
    }
}
.process {
    &__panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
}
.works {
    width: 100%;
    &__panel {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .work {
        width: 25%;
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
        .far {
            position: absolute;
            top: 43%;
            left: 43%;
            font-size: 40px;
            color: $title-color;
            margin: auto auto;
            display: none;            
        }
        &:hover {
            img {
                opacity: 0.4;
            }
            .far {
                display: block;
            }
        }
    }
}
.load-more {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: $panel-color;
    color: $title-color;
    font-size: 14px;
    font-weight: 700;
    transition: .2s;
    border-radius: 0 0 10px 10px;
    border: 1px solid transparent;
    &:hover {
        background-color: $white;
        border-color: $panel-color;
    }
}
.services {
    background-color: $panel-color;
    &__panel {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.service {
    width: 23%;
    margin-bottom: 40px;
    text-align: center;
    &__title {
        color: $title-color;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 20px 0;
    }
    &__text {
        color: $text-color;
        font-size: 16px;
    }
    .far, .fas {
        font-size: 35px;
        color: $title-color;
    }
}
.slider {
    background-color: $main-color;
}
.slide {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: $white;
    font-size: 24px;
    font-weight: 500;
    &-bar {
        display: flex;
        width: 5%;
        margin: 0 auto;
        text-align: center;
        justify-content: space-around;
        margin-top: 60px;
    }
    &__btn {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid $white;
    }
}
.author {
    margin-top: 50px;
    font-size: 16px;
    text-transform: uppercase;
}
.clients {
    background-color: $white;
    &__panel {
        padding: 40px 0;
        display: flex;
        justify-content: space-around;
        background-color: $white;
    }
    &__link {
        width: 10%;
        display: block;
        transition: .2s;
        img {
            width: 100%;
            height: auto;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
}
.project-order {
    background-color: #f5f5f5;
    &__panel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .order {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    .name, .email {
        width: 48%;
    }
    textarea {
        height: 200px;
    }
}

@import 'footer';
@import 'responsive';

